@import url(./root.css);

.profile{
    margin: 25px;
    display: flex;
    margin-top: 60px;
    align-items: center;
    justify-content:flex-start;
    gap: 15px;
}
.profile__name{
    font-size:xx-large;
}


.profile__picture{
    
    height: 160px;
    border-radius: 50%;
    box-sizing: border-box;
    border: var(--primary-color) 1px solid;
    transition: border 0.4s ease-in-out;
}
.profile__picture:hover{
  border: var(--secondary-color) 4px solid;
  box-sizing: border-box;
}

.aboutme{
    padding: 30px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.counter{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
    color: var(--secondary-color);
    
}
.counter__button{
    width: 140px;
    height: 50px;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    border: black 1px solid;
    border-radius: 3px;
    
}

.settings{
    width: 100%;
    padding: 30px;
    gap: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.darkmode{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.darkmode__h2{
    width: 150px;
    font-weight: 400;
}
.darkmode__button{
    width: 35%;
    color: var(--secondary-color);
}


/* toggle switch*/

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--primary-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }