*{
   
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    font-size: large;
    padding: 0;
    margin: 0;
    
}

.header{
    background-color: #183153;
    height: 100px;
    display: flex;
    align-items:center;
    justify-content: center;
    border-radius: 10px;
}
h1{
    color: aliceblue;
    font-weight: bold;
    font-size: xx-large;
}
h2{
    font-weight: 600;
    font-style: normal;
}
h3{
    font-weight: 100;
}

.navi{
    position: fixed;
    bottom: 0;
    height: 70px;
    width: 100%;
    background-color: #EEEEEE;
    border-radius: 10px;
    border: #183153 1px solid;
    
}
.icons{
    height: 40px;
    background-color:#EEEEEE;
    padding: 0px;
    margin: 0px;
    
}

.nav__list{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    

}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.questions{
    width: 90%;
    height: 300px;
    background-color: #EEEEEE;
    margin: 10%;
    border-radius: 10px;
    position: relative;
    align-items: center;
    text-align: center;
    border: #183153 1px solid;
   
}

.questions__question{
    margin-top: 4%;
    text-align: center;  
    padding: 5%;
}

.buttons {
    display: flex;
    justify-content: center;
}

/* .buttons button{
    margin: 0 auto;
} */

.button__show{
    padding-top: 13px;
}

.questions__answer{
    position: relative;
    margin-top: 30px;
    text-align: center;
}
.questions__bookmark{
    position: absolute;
    top: -12px;
    right: 10px;
    width: 30px;
}
.questions__tags{
    position: absolute;
    left: 8px;
    bottom: 10px;
    display: flex;
    justify-content: flex-start;
    gap: 5px;
}

.tag{
    width: 80px;
    border-radius: 10px;
    background-color: #183153;
    list-style-type: none; 
    text-align: center;
    color: #ffffff;
    font-size: small;
}

/* Hier beginnt der Button
} */

button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #183153;
    font-family: "Montserrat", sans-serif;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border: none;
   }
   
   button:after {
    content: " ";
    width: 0%;
    height: 100%;
    background: #ffffff;
    position: absolute;
    transition: all 0.4s ease-in-out;
    right: 0;
   }
   
   button:hover::after {
    right: auto;
    left: 0;
    width: 100%;
   }
   
   button span {
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 18px 25px;
    color: #fff;
    font-size: 1.125em;
    font-weight: 700;
    letter-spacing: 0.3em;
    z-index: 20;
    transition: all 0.3s ease-in-out;
   }
   
   button:hover span {
    color: #183153;
    animation: scaleUp 0.3s ease-in-out;
   }
   
   @keyframes scaleUp {
    0% {
     transform: scale(1);
    }
   
    50% {
     transform: scale(0.95);
    }
   
    100% {
     transform: scale(1);
    }
   }
   
